<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>学生信息管理中心</title>
    <script src="../lib/node_modules/_vue@2.6.12@vue/dist/vue.js"></script>
    <script src="../lib/node_modules/_axios@0.21.1@axios/dist/axios.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <div style="text-align:center;padding-bottom: 10px;">
            <h2>学生信息管理中心</h2>
            <a @click.prev="addShow()">添加学生</a>
            共有<font color=red>
                {{studentNum}}
            </font>个学生信息
        </div>
        <table width="600" border="1" align="center" rules="all" cellpadding="5">
            <tr bgcolor='#ccc'>
                <th>编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>学历</th>
                <th>工资</th>
                <th>奖金</th>
                <th>籍贯</th>
                <th>操作选项</th>
            </tr>
            <tr v-for="(student,i) in students">
                <td v-for="(studentValue,y) in students[i]"> {{studentValue}}</td>
                <td><a>修改</a> <a @click.prev="confirmDel(student.id)">删除</a></td>
            </tr>
            <tr>
                <td colspan="9" align="center" height="50" class="pageList">
                    <a v-for="pages in pagesValue" @click="load(pages)">
                        {{pages}}
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div id="add" v-show="display">
        <div id="addCover"></div>
        <div class="addTip">
            <div style="text-align:center;padding-bottom: 10px;">
                <h2>学生信息管理中心——添加学生</h2>
                <a @click.prev="addHide()">返回</a>
            </div>

            <form method="post" action="">
                <table width="400" bordercolor="#ccc" border="1" rules="all" align="center" cellpadding="5">
                    <tr>
                        <td width="80" align="right">姓名：</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td width="80" align="right">性别：</td>
                        <td>
                            <input type="radio" name="sex" value="男" checked>男
                            <input type="radio" name="sex" value="女">女
                        </td>
                    </tr>
                    <tr>
                        <td width="80" align="right">年龄：</td>
                        <td><input type="text" name="age"></td>
                    </tr>
                    <tr>
                        <td width="80" align="right">学历：</td>
                        <td>
                            <select name="edu">
                                <option value="1">初中</option>
                                <option value="2">高中</option>
                                <option value="3" selected="selected">大专</option>
                                <option value="4">本科</option>
                                <option value="5">研究生</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="80" align="right">工资：</td>
                        <td><input type="text" name="salary"></td>
                    </tr>
                    <tr>
                        <td width="80" align="right">奖金：</td>
                        <td><input type="text" name="bonus"></td>
                    </tr>
                    <tr>
                        <td width="80" align="right">籍贯：</td>
                        <td><input type="text" name="city"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="submit" value="提交">
                            <input type="hidden" name="token" value="add">
                            <input type="reset" value="重置">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            studentNum: 0,
            pagesSize: 0,
            pagesValue: [],
            checkPageIndex: 1,
            students: []
        },
        methods: {
            confirmDel(id) {
                //询问是否要删除？
                if (window.confirm("你真的要删除吗？")) {
                    //如果单击"确定"按钮，跳转到delete.php页面
                    location.href = "./delete.php?id=" + id;
                }
            },
            addShow() {
                addTip.display = true;
            },
            load(pagesIndex) {
                this.checkPageIndex = pagesIndex;
                let url = "./list.php?page=" + pagesIndex;
                axios.get(url).then(function (response) {
                    app.students = response.data.arr;
                    app.studentNum = response.data.records;
                    app.pagesSize = response.data.pagesize;
                    if (app.studentNum / app.pagesSize <= 10 || app.checkPageIndex < 6) {
                        for (let i = 0; i < 10; i++) {
                            app.pagesValue[i] = i + 1;
                        }
                    } else if (app.checkPageIndex - 1 < app.studentNum / app.pagesSize - 4) {
                        app.pagesValue[5] = app.checkPageIndex;
                        let start = 0;
                        let end = 6;
                        for (let j = 5; j > 0; j--) {
                            app.pagesValue[start] = app.checkPageIndex - j;
                            start++;
                        }

                        for (let j = 1; j < 5; j++) {
                            app.pagesValue[end] = app.checkPageIndex + j;
                            end++;
                        }

                    } else if (app.checkPageIndex > app.studentNum / app.pagesSize - 4) {
                        let start = 0;
                        for (let i = app.studentNum / app.pagesSize - 10; i < app.studentNum / app.pagesSize; i++) {
                            app.pagesValue[start] = i + 1;
                            start++;
                        }
                    }
                }).catch(
                    function () {
                        alert('数据获取失败');
                    }
                )
            },
        },
        created() {
            this.load(1);
        },
    })
    var addTip = new Vue({
        el: "#add",
        data: {
            display: false,
        },
        methods: {
            addHide() {
                addTip.display = false;
            }
        }
    })
</script>

</html>