<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>学生信息管理中心</title>
    <link rel="stylesheet" href="../lib/node_modules/_bootstrap@3.4.1@bootstrap/dist/css/bootstrap.css">
    </link>
    <script src="../lib/node_modules/_vue@2.6.12@vue/dist/vue.js"></script>
    <script src="../lib/node_modules/_axios@0.21.1@axios/dist/axios.js"></script>
    <script src="../lib/node_modules/_jquery@3.5.1@jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="./CSS/style.css">
</head>

<body>
    <div id="app" v-cloak>
        <div style="text-align:center;padding-bottom: 10px;">
            <h2>学生信息管理中心</h2>
            <a class="btn btn-default" @click.prev="addTipShow()">添加学生</a>
            共有<font color=red>
                {{studentNum}}
            </font>个学生信息
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <th>编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>学历</th>
                <th>工资</th>
                <th>奖金</th>
                <th>籍贯</th>
                <th class="warning">操作选项</th>
            </thead>
            <tbody>
                <tr v-for="(student,i) in students" :key="student.id">
                    <td v-for="(studentValue,y) in students[i]">
                        {{studentValue}}
                    </td>
                    <td class="warning">
                        <a @click.prev="upDateTipShow($event)">修改</a>
                        <a @click.prev="confirmDel(student.id)">删除</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="9" align="center" height="50" class="pageList">
                    <a class="btn btn-default" v-for="pages in pagesNum" @click="load(pages)">
                        {{pages}}
                    </a>
                </td>
            </tfoot>
        </table>
    </div>

    <div id="addTip" class="tip" v-cloak>
        <tip-body :display="display" :form-data="formData" @hide="addTipHide" @submit="addStudentData"></tip-body>
    </div>

    <div id="upDateTip" class="tip" v-cloak>
        <tip-body :display="display" :form-data="formData" @hide="upDateTipHide" @submit="upDate"></tip-body>
    </div>

    <div id="loading" v-show="display" v-cloak>
        <transition>
            <div class="cover" v-show="display">
                <div class="loadingBody">
                    <div></div>
                    <div></div>
                    <p>加载中...</p>
                </div>
            </div>
        </transition>
    </div>

    <template id="tipBody">
        <transition>
            <div class="cover" v-show="display">
                <div class="tipBody">
                    <div style="text-align:center;padding-bottom: 10px;">
                        <h2>学生信息管理中心——修改学生信息</h2>
                        <a @click.prev="$emit('hide')">返回</a>
                    </div>
                    <form method="post" action="">
                        <div class="form-group">
                            <span>姓名：</span>
                            <input type="text" name="name" v-model="formData.name" v-focus>
                        </div>
                        <div class="form-group">
                            <span>性别：</span>
                            <input type="radio" name="sex" value="男" v-model="formData.sex" checked>男
                            <input type="radio" name="sex" value="女" v-model="formData.sex">女
                        </div>
                        <div class="form-group">
                            <span>年龄：</span>
                            <input type="text" name="age" v-model="formData.age">
                        </div>
                        <div class="form-group">
                            <span>学历：</span>
                            <select name="edu" v-model="formData.edu">
                                <option value="1">初中</option>
                                <option value="2">高中</option>
                                <option value="3" selected="selected">大专</option>
                                <option value="4">本科</option>
                                <option value="5">研究生</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <span>工资：</span>
                            <input type="text" name="salary" v-model="formData.salary">
                        </div>
                        <div class="form-group">
                            <span>奖金：</span>
                            <input type="text" name="bonus" v-model="formData.bonus">
                        </div>
                        <div class="form-group">
                            <span>籍贯：</span>
                            <input type="text" name="city" v-model="formData.city">
                        </div>

                        <div class="form-group">
                            &nbsp;
                            <input type="button" value="提交" @click="$emit('submit')">
                            <input type="reset" value="重置">
                        </div>
                    </form>
                </div>
            </div>
        </transition>
    </template>



</body>
<script src="./JS/index.js"></script>

</html>